<h1>Make your form here</h1>

<form method="POST" action="/new">
  <p><label for="pirate_name">Pirate Name:</label>
  <input type="text" name="pirates[name]" id="pirate_name">
  <label for="pirate_weight">Pirate Weight:</label>
  <input type="text" name="pirates[weight]" id="pirate_weight">
  <label for="pirate_height">Pirate Height:</label>
  <input type="text" name="pirates[height]" id="pirate_height"></p>
  <p><label for="ship_1_name">Ship Name:</label>
  <input type="text" name="pirates[ships][][name]" id="ship_1_name">
  <label for="ship_1_type">Ship Type:</label>
  <input type="text" name="pirates[ships][][type]" id="ship_1_type">
  <label for="ship_1_booty">Ship Booty:</label>
  <input type="text" name="pirates[ships][][booty]" id="ship_1_booty"></p>
  <p><label for="ship_2_name">Ship Name:</label>
  <input type="text" name="pirates[ships][][name]" id="ship_2_name">
  <label for="ship_2_type">Ship Type:</label>
  <input type="text" name="pirates[ships][][type]" id="ship_2_type">
  <label for="ship_2_booty">Ship Booty:</label>
  <input type="text" name="pirates[ships][][booty]" id="ship_2_booty">
  </p><p><input type="submit" name="Submit"></p>
</form>
